* {
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
}

.bg{
	z-index: -1;
	position: absolute;
}

header{
	background: #34170cf1;
	width: 100%;
	height: 10vh;
	position: relative;
}

img.logo{
	position: absolute;
	margin-left:1%;
	top: -15%;
}

table{
	position: absolute;
	margin-left: 68%;
	margin-top: 1.3%;
}

a {
	color: white;
	text-decoration: none;
	font-family: poppins, sans-serif;
	transition: 0.5s;
	font-size: 100%;
}

a:hover{
	font-size: 120%;
}

span{
	opacity: 0%;
}


.logo1{
	position: absolute;
	border: none;
	outline: none;
	border-radius:20%;
	opacity: 88%;

	margin-top: 9%;
	margin-left: 18.5%;

	width: 10%;
	
/*	animation: wave 2s infinite; */
}

@keyframes wave{
	0%{
		width:10%;
	}
	50%{
		width:10.5%;
	}
	0%{
		width:10%;
	}
}


.slogan{
	font-size: 150%;
	position: absolute;
	margin-top: 21%;
	margin-left: 5.3%;
	text-align: center;
	width: 35%;
}

.titulo {
	font-size: 150%;
	position: absolute;
	margin-top: 31%;
	margin-left: 10%;
	text-align: center;
	width: 25%;
}

.subtitulo {
	font-size: 110%;
	position: absolute;
	margin-top: 35.6%;
	margin-left: 5%;
	text-align: center;
	width: 35%;
}