* {
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
}

.bg{
	z-index: -1;
	position: absolute;
}

header{
	background: #34170cf1;
	width: 100%;
	height: 10vh;
	position: relative;
}

img.logo{
	position: absolute;
	margin-left:1%;
	top: -15%;
}

table{
	position: absolute;
	margin-left: 68%;
	margin-top: 1.3%;
}

a {
	color: white;
	text-decoration: none;
	font-family: poppins, sans-serif;
	transition: 0.5s;
	font-size: 100%;
}

a:hover{
	font-size: 120%;
}

span{
	opacity: 0%;
}

.bag{
	position: absolute;
	color:white;
	margin-left: 95%;
	margin-top: 0.9%;
	transition: 0.5s;
	width: 3%;
}

.bag:hover{
	width:3.5%;
}

.titulo {
	font-size: 150%;
	position: absolute;
	margin-top: 25%;
	margin-left: 9%;
	text-align: center;
	width: 25%;
}

.subtitulo {
	font-size: 110%;
	position: absolute;
	margin-top: 30%;
	margin-left: 4%;
	text-align: center;
	width: 35%;
}

.logo2{
    position: absolute;
    margin-top: 5%;
    margin-left: 10.5%;
}

.imgs{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    margin-left: 26.5%;
    padding: 0%;

    border-collapse: collapse;
}

.tdtamanho:hover{
    transform: scale(1.1);

    z-index: 9;
}


.tdtamanho{
    padding-right: 60px;
    padding-bottom: 30px;

    transition: 1s;

}
.container{
    width: 100%;
    max-width: 1200px;
    position: relative;
}



/*.hotspot{
    width: 170px;
    height: 275px;
    
    position: absolute;
    cursor: pointer;
    z-index: 1  ;
}

.aoleitee {
    left: 56%;
    top: 40px;
}

.empo{
    left: 75%;
    top: 40px;
}

.cremeavela{
    left: 92%;
    top: 40px;
}

.croc{
    left: 56%;
    top: 340px;
}

.folha{
    left: 75%;
    top: 340px;
}

.amargo{
    left: 92%;
    top: 340px;
}


.aoleitee::after{
    content: url('assets/imgcar.png');
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;
}

.empo::after{
    content: url('assets/imgcar.png');
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;

}.cremeavela::after{
    content: url('assets/imgcar.png');
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;
}

.croc::after{
    content: url('assets/imgcar.png');
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;

}

.folha::after{
    content: url('assets/imgcar.png');
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;
}

.amargo::after{
    content: url('assets/imgcar.png');
    top: -1px;
    ;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    position: absolute;
    border-radius: 10px ;
}
*/